NodeRed/flows.json
[{"id":"5c37380c.c347e8","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"6e969e0f.a2d42","type":"tab","label":"Simular Dados","disabled":false,"info":""},{"id":"1713468.9fa51ba","type":"tab","label":"API - Users","disabled":false,"info":""},{"id":"a5056396.20f6b","type":"tab","label":"API - Routines","disabled":false,"info":""},{"id":"d9caa4fb.a37788","type":"tab","label":"Cadastro Atuadores","disabled":false,"info":""},{"id":"c06cfd79.859b8","type":"tab","label":"Rotinas","disabled":false,"info":""},{"id":"dea4bf45.0859b","type":"group","z":"5c37380c.c347e8","name":"Dashboard Saída","style":{"label":true},"nodes":["291b43dd.1bdb2c","41ec1e6b.1f05d","6afa66ee.37d8f8","a1037514.892c88"],"x":754,"y":679,"w":192,"h":262},{"id":"4ed6e574.95b76c","type":"group","z":"5c37380c.c347e8","name":"Dashboard - Entrada","style":{"label":true},"nodes":["664c267f.0deee8","19a74110.22ecdf","b279879b.7344a8","520e35e.f7bf2cc"],"x":754,"y":199,"w":192,"h":262},{"id":"7443b1c8.ef03f","type":"group","z":"5c37380c.c347e8","name":"Histórico - Entrada","style":{"label":true},"nodes":["f2b6171e.35d698","dab17512.70b158","7a4ac356.e3aadc","88304b38.046c88","76e55309.c85f8c","524fb359.e3586c","1643b666.bc452a","63364e4f.119c9"],"x":1094,"y":279,"w":372,"h":262},{"id":"29d82027.70fb7","type":"group","z":"5c37380c.c347e8","name":"Histórico - Saída","style":{"label":true},"nodes":["dc80952c.c2c698","a122fa94.1f3338","66974428.5e760c","ea3127df.362dc8","fe6c4ce5.96669","3985645c.76857c","be461af3.a05d48","9a3a61ef.00f54"],"x":1094,"y":559,"w":372,"h":262},{"id":"6e9bdec9.a2e06","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c95de8ef.9f51e8","type":"mongodb","z":"","hostname":"localhost","port":"27017","db":"teste","name":""},{"id":"961f22f.c1502e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"B.O.I.S. Systems - Control Panel","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":0,"gy":1,"cx":0,"cy":1,"px":0,"py":1}}},{"id":"2c262be5.11ce34","type":"ui_spacer","name":"spacer","group":"f6c59acc.926c08","order":1,"width":1,"height":1},{"id":"f81535ba.ade878","type":"ui_group","z":"","name":"Entrada","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e146086b.09b218","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"6a43e2e6.b7635c","type":"ui_spacer","name":"spacer","group":"e146086b.09b218","order":1,"width":1,"height":1},{"id":"649139df.c49c58","type":"ui_group","z":"","name":"Saida","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"29dc6c4e.f38394","type":"ui_tab","z":"","name":"Simular Dados","icon":"dashboard","order":10,"disabled":false,"hidden":false},{"id":"94bc9ac4.f3a978","type":"ui_group","z":"","name":"Saída","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"497ef5cb.557a1c","type":"ui_group","z":"","name":"Entrada","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"fcadbaae.7b7f58","type":"ui_group","z":"","name":"Entrada","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"4eca7631.e2cf68","type":"ui_group","z":"","name":"Saída","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"d518aecf.295e3","type":"ui_group","z":"","name":"Entrada","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"5e12bf8c.22429","type":"ui_group","z":"","name":"Saida","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"e80a70c.076709","type":"ui_group","z":"","name":"Cadastro","tab":"","order":1,"disp":true,"width":"30","collapse":false},{"id":"bac94fd4.fc34e","type":"ui_group","z":"","name":"Saida","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"d827a332.6e35e","type":"ui_group","z":"","name":"Entrada","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"addb411c.b447a","type":"ui_group","z":"","name":"Exclusão","tab":"","order":2,"disp":true,"width":"30","collapse":false},{"id":"a5dfb1a0.a0f3","type":"ui_group","z":"","name":"Listagem","tab":"","order":3,"disp":true,"width":"30","collapse":false},{"id":"aea43527.bee028","type":"ui_group","z":"","name":"Entrada","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"8eeeb83.3d07948","type":"ui_group","z":"","name":"Saida","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"2de68918.2a2296","type":"ui_group","z":"","name":"Entrada","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"190d1878.f1c3a8","type":"ui_group","z":"","name":"Saida","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"dc2ec3d1.ae62d","type":"ui_group","z":"","name":"Entrada","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c2fa420f.f0fbc","type":"ui_group","z":"","name":"Saida","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"2845439.9f311bc","type":"ui_spacer","name":"spacer","group":"a5dfb1a0.a0f3","order":1,"width":"27","height":"2"},{"id":"f1fab7d0.c7caa8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cd21f5f9.a22d48","type":"mongodb","z":"","hostname":"localhost","port":"27017","db":"awmonitor","name":""},{"id":"35f67a13.245646","type":"ui_tab","z":"","name":"Dashboard Nivel","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"abdcdead.4f2b9","type":"ui_spacer","name":"spacer","group":"f6c59acc.926c08","order":1,"width":1,"height":1},{"id":"aa440b93.f53158","type":"ui_group","z":"","name":"Entrada","tab":"9bdc5dd6.f15a7","order":1,"disp":true,"width":"6","collapse":false},{"id":"21b59c41.38dd94","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"a2215a53.feef88","type":"ui_spacer","name":"spacer","group":"21b59c41.38dd94","order":1,"width":1,"height":1},{"id":"ca1d11f.5e0bff","type":"ui_group","z":"","name":"Saida","tab":"9bdc5dd6.f15a7","order":2,"disp":true,"width":"6","collapse":false},{"id":"4c2c5cce.479b14","type":"ui_group","z":"","name":"SimulacaoGroup","tab":"29dc6c4e.f38394","order":1,"disp":false,"width":12,"collapse":false},{"id":"eb3c2302.bd27d","type":"ui_tab","z":"","name":"Historico Nivel","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"35dea526.67340a","type":"ui_group","z":"","name":"Saída","tab":"5033dc85.942c04","order":2,"disp":true,"width":"6","collapse":false},{"id":"17091394.c0ec7c","type":"ui_group","z":"","name":"Entrada","tab":"5033dc85.942c04","order":1,"disp":true,"width":"6","collapse":false},{"id":"34e1802d.376e6","type":"ui_tab","z":"","name":"Dasboard PH","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"447b7ecf.e37d9","type":"ui_tab","z":"","name":"Dashboard Consumo","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"9bdc5dd6.f15a7","type":"ui_tab","z":"","name":"Dashboard Temperatura","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"1be89b89.83c624","type":"ui_group","z":"","name":"Entrada","tab":"447b7ecf.e37d9","order":1,"disp":true,"width":"6","collapse":false},{"id":"4a74c995.362ad8","type":"ui_group","z":"","name":"Saída","tab":"447b7ecf.e37d9","order":2,"disp":true,"width":"6","collapse":false},{"id":"e6400b6f.d2a348","type":"ui_group","z":"","name":"Entrada","tab":"34e1802d.376e6","order":1,"disp":true,"width":"6","collapse":false},{"id":"566a1df5.66a834","type":"ui_group","z":"","name":"Saida","tab":"34e1802d.376e6","order":2,"disp":true,"width":"6","collapse":false},{"id":"14169349.65a50d","type":"ui_group","z":"","name":"Cadastro","tab":"7a3984ac.99587c","order":1,"disp":true,"width":"30","collapse":false},{"id":"3826c8f5.7ca818","type":"ui_group","z":"","name":"Saida","tab":"35f67a13.245646","order":2,"disp":true,"width":"6","collapse":false},{"id":"7a3984ac.99587c","type":"ui_tab","z":"","name":"Cadastro Atuadores","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"a50b61ce.830da","type":"ui_group","z":"","name":"Entrada","tab":"35f67a13.245646","order":1,"disp":true,"width":"6","collapse":false},{"id":"2dea57e6.83d008","type":"ui_group","z":"","name":"Exclusão","tab":"7a3984ac.99587c","order":2,"disp":true,"width":"30","collapse":false},{"id":"dc9bd0b.43d4f3","type":"ui_group","z":"","name":"Listagem","tab":"7a3984ac.99587c","order":3,"disp":true,"width":"30","collapse":false},{"id":"1514e06b.59204","type":"ui_tab","z":"","name":"Historico PH","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"7551a40.094145c","type":"ui_tab","z":"","name":"Historico Consumo","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"5033dc85.942c04","type":"ui_tab","z":"","name":"Historico Temperatura","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"e283b56b.e82d28","type":"ui_group","z":"","name":"Entrada","tab":"eb3c2302.bd27d","order":1,"disp":true,"width":"6","collapse":false},{"id":"92f61240.f94f8","type":"ui_group","z":"","name":"Saida","tab":"eb3c2302.bd27d","order":2,"disp":true,"width":"6","collapse":false},{"id":"34556a89.0d9606","type":"ui_group","z":"","name":"Entrada","tab":"1514e06b.59204","order":1,"disp":true,"width":"6","collapse":false},{"id":"247d7348.581ecc","type":"ui_group","z":"","name":"Saida","tab":"1514e06b.59204","order":2,"disp":true,"width":"6","collapse":false},{"id":"20ecfd76.8ec6a2","type":"ui_group","z":"","name":"Entrada","tab":"7551a40.094145c","order":1,"disp":true,"width":"6","collapse":false},{"id":"555798a4.36d208","type":"ui_group","z":"","name":"Saida","tab":"7551a40.094145c","order":2,"disp":true,"width":"6","collapse":false},{"id":"298066b9.4cf2da","type":"ui_spacer","name":"spacer","group":"dc9bd0b.43d4f3","order":1,"width":"27","height":"2"},{"id":"eee17b67.06a718","type":"mqtt in","z":"5c37380c.c347e8","name":"","topic":"sensores","qos":"0","datatype":"json","broker":"f1fab7d0.c7caa8","x":80,"y":580,"wires":[["2444ad6b.7f41f2"]]},{"id":"291b43dd.1bdb2c","type":"ui_gauge","z":"5c37380c.c347e8","g":"dea4bf45.0859b","name":"","group":"566a1df5.66a834","order":1,"width":"6","height":"4","gtype":"donut","title":"PH","label":"","format":"{{msg.payload.ph.valor}}","min":"0","max":"14","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":720,"wires":[]},{"id":"5dc71f35.1cc1d","type":"mongodb out","z":"5c37380c.c347e8","mongodb":"cd21f5f9.a22d48","name":"","collection":"sensores","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":450,"y":700,"wires":[]},{"id":"41ec1e6b.1f05d","type":"ui_gauge","z":"5c37380c.c347e8","g":"dea4bf45.0859b","name":"","group":"3826c8f5.7ca818","order":1,"width":"6","height":"4","gtype":"wave","title":"Nivel","label":"%","format":"{{msg.payload.nivel.valor}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":780,"wires":[]},{"id":"6afa66ee.37d8f8","type":"ui_gauge","z":"5c37380c.c347e8","g":"dea4bf45.0859b","name":"","group":"4a74c995.362ad8","order":1,"width":"6","height":"8","gtype":"compass","title":"Consumo (L)","label":"","format":"{{msg.payload.consumo.valor}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":840,"wires":[]},{"id":"a1037514.892c88","type":"ui_gauge","z":"5c37380c.c347e8","g":"dea4bf45.0859b","name":"","group":"ca1d11f.5e0bff","order":1,"width":"6","height":"8","gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload.temperatura.valor}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":900,"wires":[]},{"id":"f8756267.1fb33","type":"mosca in","z":"5c37380c.c347e8","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":390,"y":500,"wires":[[]]},{"id":"664c267f.0deee8","type":"ui_gauge","z":"5c37380c.c347e8","g":"4ed6e574.95b76c","name":"","group":"e6400b6f.d2a348","order":1,"width":"6","height":"4","gtype":"donut","title":"PH","label":"","format":"{{msg.payload.ph.valor}}","min":"0","max":"14","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":240,"wires":[]},{"id":"19a74110.22ecdf","type":"ui_gauge","z":"5c37380c.c347e8","g":"4ed6e574.95b76c","name":"","group":"a50b61ce.830da","order":1,"width":"6","height":"4","gtype":"wave","title":"Nivel","label":"%","format":"{{msg.payload.nivel.valor}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":300,"wires":[]},{"id":"b279879b.7344a8","type":"ui_gauge","z":"5c37380c.c347e8","d":true,"g":"4ed6e574.95b76c","name":"","group":"1be89b89.83c624","order":1,"width":"6","height":"4","gtype":"compass","title":"Consumo","label":"L","format":"{{msg.payload.consumo.valor}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":360,"wires":[]},{"id":"520e35e.f7bf2cc","type":"ui_gauge","z":"5c37380c.c347e8","d":true,"g":"4ed6e574.95b76c","name":"","group":"aa440b93.f53158","order":1,"width":"6","height":"4","gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload.temperatura.valor}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":420,"wires":[]},{"id":"df1696d0.c03cd8","type":"switch","z":"5c37380c.c347e8","name":"Reservatorio","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":580,"wires":[["664c267f.0deee8","b279879b.7344a8","520e35e.f7bf2cc","19a74110.22ecdf","f2b6171e.35d698","63364e4f.119c9","524fb359.e3586c","1643b666.bc452a"],["291b43dd.1bdb2c","41ec1e6b.1f05d","6afa66ee.37d8f8","a1037514.892c88","a122fa94.1f3338","66974428.5e760c","fe6c4ce5.96669","be461af3.a05d48"]]},{"id":"a73fba1.8152048","type":"ui_form","z":"6e969e0f.a2d42","name":"","label":"","group":"4c2c5cce.479b14","order":2,"width":"12","height":"6","options":[{"label":"DadosJson","value":"Dados","type":"multiline","required":true,"rows":6}],"formValue":{"Dados":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":330,"y":260,"wires":[["b98d64bc.527fd8"]]},{"id":"d341020c.74ca9","type":"mqtt out","z":"6e969e0f.a2d42","name":"","topic":"sensores","qos":"0","retain":"","broker":"f1fab7d0.c7caa8","x":1120,"y":260,"wires":[]},{"id":"34ca13dc.bc439c","type":"ui_template","z":"6e969e0f.a2d42","group":"4c2c5cce.479b14","name":"","order":1,"width":"12","height":"5","format":"<h1>Json Exemplo</h1>\n<pre>\n{\n    \"id\": 1,\n    \"ph\": {\n        \"conectado\": true,\n        \"valor\": 5.5\n    },\n    \"temperatura\": {\n        \"conectado\": true,\n        \"valor\": 23\n    },\n    \"nivel\": {\n        \"conectado\": true,\n        \"valor\": 10\n    },\n    \"consumo\": {\n        \"conectado\": false,\n        \"valor\": 0\n    }\n}\n</pre>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":340,"y":140,"wires":[[]]},{"id":"b98d64bc.527fd8","type":"change","z":"6e969e0f.a2d42","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Dados","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":260,"wires":[["d341020c.74ca9"]]},{"id":"4f9e6786.630e68","type":"http in","z":"1713468.9fa51ba","name":"","url":"/users/register","method":"post","upload":false,"swaggerDoc":"","x":130,"y":380,"wires":[["e2045902.ff0158"]]},{"id":"855eace7.164ad","type":"http in","z":"1713468.9fa51ba","name":"","url":"users","method":"get","upload":false,"swaggerDoc":"","x":100,"y":40,"wires":[["5ef719f.59cffe8"]]},{"id":"5ef719f.59cffe8","type":"mongodb in","z":"1713468.9fa51ba","mongodb":"cd21f5f9.a22d48","name":"","collection":"users","operation":"find","x":580,"y":40,"wires":[["9b43f038.49963"]]},{"id":"9b43f038.49963","type":"http response","z":"1713468.9fa51ba","name":"","statusCode":"","headers":{},"x":1290,"y":40,"wires":[]},{"id":"85bbb436.a93a18","type":"http in","z":"1713468.9fa51ba","name":"","url":"users/:id","method":"get","upload":false,"swaggerDoc":"","x":110,"y":120,"wires":[["b0b55b48.7644d8"]]},{"id":"9f2c7d04.09403","type":"mongodb in","z":"1713468.9fa51ba","mongodb":"cd21f5f9.a22d48","name":"","collection":"users","operation":"find","x":980,"y":120,"wires":[["8b8a5122.afa0a"]]},{"id":"8b8a5122.afa0a","type":"http response","z":"1713468.9fa51ba","name":"","statusCode":"","headers":{},"x":1290,"y":120,"wires":[]},{"id":"b0b55b48.7644d8","type":"function","z":"1713468.9fa51ba","name":"","func":"msg.payload = msg.req.params.id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":120,"wires":[["65e5e2be.5004dc"]]},{"id":"65e5e2be.5004dc","type":"objectid","z":"1713468.9fa51ba","name":"","property":"payload","propertyType":"msg","x":560,"y":120,"wires":[["9f2c7d04.09403"]]},{"id":"f296764f.9ab398","type":"http response","z":"1713468.9fa51ba","name":"","statusCode":"201","headers":{},"x":920,"y":440,"wires":[]},{"id":"91e29c0d.90a45","type":"mongodb in","z":"1713468.9fa51ba","mongodb":"cd21f5f9.a22d48","name":"","collection":"users","operation":"find","x":540,"y":380,"wires":[["d44d874f.82a988"]]},{"id":"e2045902.ff0158","type":"function","z":"1713468.9fa51ba","name":"","func":"msg.user = msg.payload;\nmsg.payload = { \"phone\":  msg.payload.phone };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":380,"wires":[["91e29c0d.90a45"]]},{"id":"d44d874f.82a988","type":"switch","z":"1713468.9fa51ba","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":380,"wires":[["f7e045d7.491548"],["b8ae5d44.8d6ab","f296764f.9ab398"]]},{"id":"cec0dbf1.437c78","type":"mongodb out","z":"1713468.9fa51ba","mongodb":"cd21f5f9.a22d48","name":"","collection":"users","payonly":true,"upsert":false,"multi":true,"operation":"insert","x":1180,"y":380,"wires":[]},{"id":"b8ae5d44.8d6ab","type":"function","z":"1713468.9fa51ba","name":"","func":"msg.payload = msg.user;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":380,"wires":[["cec0dbf1.437c78"]]},{"id":"e131cf2e.ddb33","type":"http in","z":"1713468.9fa51ba","name":"","url":"users/:id","method":"delete","upload":false,"swaggerDoc":"","x":120,"y":560,"wires":[["ff38d2a0.e4ef5"]]},{"id":"4e7b5e30.7b46","type":"mongodb out","z":"1713468.9fa51ba","mongodb":"cd21f5f9.a22d48","name":"","collection":"users","payonly":true,"upsert":false,"multi":true,"operation":"delete","x":1380,"y":500,"wires":[]},{"id":"ff38d2a0.e4ef5","type":"function","z":"1713468.9fa51ba","name":"","func":"msg.payload = msg.req.params.id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":560,"wires":[["e015bea2.ccbfa"]]},{"id":"e015bea2.ccbfa","type":"objectid","z":"1713468.9fa51ba","name":"","property":"payload","propertyType":"msg","x":500,"y":560,"wires":[["ee94c1e3.84afd"]]},{"id":"ee94c1e3.84afd","type":"mongodb in","z":"1713468.9fa51ba","mongodb":"cd21f5f9.a22d48","name":"","collection":"users","operation":"find","x":760,"y":560,"wires":[["6cbb1553.03654c"]]},{"id":"2b17a64c.02a53a","type":"function","z":"1713468.9fa51ba","name":"","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":500,"wires":[["4e7b5e30.7b46","dfb10930.5b82b8"]]},{"id":"6cbb1553.03654c","type":"switch","z":"1713468.9fa51ba","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":560,"wires":[["2b17a64c.02a53a"],["3248d903.52f0c6"]]},{"id":"dfb10930.5b82b8","type":"http response","z":"1713468.9fa51ba","name":"","statusCode":"200","headers":{},"x":1320,"y":580,"wires":[]},{"id":"3248d903.52f0c6","type":"http response","z":"1713468.9fa51ba","name":"","statusCode":"404","headers":{},"x":1140,"y":580,"wires":[]},{"id":"d845886b.a017c8","type":"http response","z":"1713468.9fa51ba","name":"","statusCode":"404","headers":{},"x":1120,"y":240,"wires":[]},{"id":"52033170.ca272","type":"mongodb in","z":"1713468.9fa51ba","mongodb":"cd21f5f9.a22d48","name":"","collection":"users","operation":"find","x":580,"y":220,"wires":[["7e8d232b.31550c"]]},{"id":"d82d6aa4.feffa8","type":"function","z":"1713468.9fa51ba","name":"","func":"msg.payload = { \"phone\": msg.payload.phone, \"password\": msg.payload.password};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":220,"wires":[["52033170.ca272"]]},{"id":"33f7cd74.7faf32","type":"http in","z":"1713468.9fa51ba","name":"","url":"users/login","method":"post","upload":false,"swaggerDoc":"","x":120,"y":220,"wires":[["d82d6aa4.feffa8"]]},{"id":"7e8d232b.31550c","type":"switch","z":"1713468.9fa51ba","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":220,"wires":[["d3b1a1f7.99fdf"],["d845886b.a017c8"]]},{"id":"344230f3.3dade","type":"http response","z":"1713468.9fa51ba","name":"","statusCode":"200","headers":{},"x":1300,"y":200,"wires":[]},{"id":"dc80952c.c2c698","type":"ui_chart","z":"5c37380c.c347e8","g":"29d82027.70fb7","name":"","group":"92f61240.f94f8","order":0,"width":"6","height":"4","label":"Nível","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1350,"y":660,"wires":[[]]},{"id":"a122fa94.1f3338","type":"function","z":"5c37380c.c347e8","g":"29d82027.70fb7","name":"","func":"msg.payload = msg.payload.nivel.valor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":660,"wires":[["dc80952c.c2c698"]]},{"id":"f2b6171e.35d698","type":"function","z":"5c37380c.c347e8","g":"7443b1c8.ef03f","name":"","func":"msg.payload = msg.payload.nivel.valor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":380,"wires":[["dab17512.70b158"]]},{"id":"dab17512.70b158","type":"ui_chart","z":"5c37380c.c347e8","g":"7443b1c8.ef03f","name":"","group":"e283b56b.e82d28","order":4,"width":"6","height":"4","label":"Nível","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1350,"y":380,"wires":[[]]},{"id":"d3b1a1f7.99fdf","type":"function","z":"1713468.9fa51ba","name":"","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":200,"wires":[["344230f3.3dade"]]},{"id":"594c56a1.3fc188","type":"http in","z":"a5056396.20f6b","name":"","url":"routines","method":"get","upload":false,"swaggerDoc":"","x":150,"y":60,"wires":[["8f0f260c.561938"]]},{"id":"8f0f260c.561938","type":"mongodb in","z":"a5056396.20f6b","mongodb":"cd21f5f9.a22d48","name":"","collection":"routines","operation":"find","x":630,"y":60,"wires":[["26f347e2.39c548"]]},{"id":"26f347e2.39c548","type":"http response","z":"a5056396.20f6b","name":"","statusCode":"","headers":{},"x":1190,"y":60,"wires":[]},{"id":"c36692d5.71e9","type":"http in","z":"a5056396.20f6b","name":"","url":"/routines/insert","method":"post","upload":false,"swaggerDoc":"","x":170,"y":220,"wires":[["5537f6d4.b20388"]]},{"id":"243dbd84.2bf6d2","type":"mongodb out","z":"a5056396.20f6b","mongodb":"cd21f5f9.a22d48","name":"","collection":"routines","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":630,"y":220,"wires":[]},{"id":"97886fe2.aa975","type":"http in","z":"a5056396.20f6b","name":"","url":"routines/:id","method":"get","upload":false,"swaggerDoc":"","x":160,"y":140,"wires":[["5ad9aded.35cb04"]]},{"id":"412379b1.a1ed48","type":"mongodb in","z":"a5056396.20f6b","mongodb":"cd21f5f9.a22d48","name":"","collection":"routines","operation":"find","x":890,"y":140,"wires":[["edb2d076.45a7f"]]},{"id":"edb2d076.45a7f","type":"http response","z":"a5056396.20f6b","name":"","statusCode":"","headers":{},"x":1190,"y":140,"wires":[]},{"id":"5ad9aded.35cb04","type":"function","z":"a5056396.20f6b","name":"","func":"msg.payload = msg.req.params.id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":140,"wires":[["d9eba2dd.271e2"]]},{"id":"d9eba2dd.271e2","type":"objectid","z":"a5056396.20f6b","name":"","property":"payload","propertyType":"msg","x":600,"y":140,"wires":[["412379b1.a1ed48"]]},{"id":"66af0bcb.d3db94","type":"http in","z":"a5056396.20f6b","name":"","url":"routines/:id","method":"delete","upload":false,"swaggerDoc":"","x":170,"y":520,"wires":[["7ab3bc5a.0d8fb4"]]},{"id":"30d8bd20.07bea2","type":"mongodb out","z":"a5056396.20f6b","mongodb":"cd21f5f9.a22d48","name":"","collection":"routines","payonly":true,"upsert":false,"multi":true,"operation":"delete","x":1410,"y":520,"wires":[]},{"id":"7ab3bc5a.0d8fb4","type":"function","z":"a5056396.20f6b","name":"","func":"msg.payload = msg.req.params.id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":520,"wires":[["ca5a28e.90681d8"]]},{"id":"ca5a28e.90681d8","type":"objectid","z":"a5056396.20f6b","name":"","property":"payload","propertyType":"msg","x":620,"y":520,"wires":[["983141dc.b696c"]]},{"id":"983141dc.b696c","type":"mongodb in","z":"a5056396.20f6b","mongodb":"cd21f5f9.a22d48","name":"","collection":"routines","operation":"find","x":910,"y":520,"wires":[["3ede8ae1.06a356"]]},{"id":"d6cd2c84.dc3e4","type":"function","z":"a5056396.20f6b","name":"","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":520,"wires":[["30d8bd20.07bea2","874b9edf.294dd"]]},{"id":"3ede8ae1.06a356","type":"switch","z":"a5056396.20f6b","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":580,"wires":[["d6cd2c84.dc3e4"],["a9564221.dcbfa"]]},{"id":"874b9edf.294dd","type":"http response","z":"a5056396.20f6b","name":"","statusCode":"200","headers":{},"x":1340,"y":600,"wires":[]},{"id":"a9564221.dcbfa","type":"http response","z":"a5056396.20f6b","name":"","statusCode":"404","headers":{},"x":1160,"y":600,"wires":[]},{"id":"b5167336.625b6","type":"http response","z":"1713468.9fa51ba","name":"","statusCode":"500","headers":{},"x":1120,"y":320,"wires":[]},{"id":"f7e045d7.491548","type":"function","z":"1713468.9fa51ba","name":"","func":"msg.payload = \"Já existe um usuário com o telefone informado\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":320,"wires":[["b5167336.625b6"]]},{"id":"28d5f4d5.1ef0ec","type":"delay","z":"a5056396.20f6b","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":280,"wires":[["7f0bdd40.fcfbc4"]]},{"id":"7f0bdd40.fcfbc4","type":"mongodb in","z":"a5056396.20f6b","mongodb":"cd21f5f9.a22d48","name":"","collection":"routines","operation":"find","x":890,"y":280,"wires":[["43ed2e85.81f96"]]},{"id":"7e840053.35806","type":"http response","z":"a5056396.20f6b","name":"","statusCode":"","headers":{},"x":1330,"y":280,"wires":[]},{"id":"43ed2e85.81f96","type":"function","z":"a5056396.20f6b","name":"","func":"msg.payload = msg.payload[msg.payload.length - 1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":280,"wires":[["7e840053.35806"]]},{"id":"1279385f.0d9718","type":"http in","z":"a5056396.20f6b","name":"","url":"/routines/update","method":"post","upload":false,"swaggerDoc":"","x":180,"y":360,"wires":[["7b327228.01492c","63d6a0ca.a8b9f"]]},{"id":"e3ea6765.18c878","type":"delay","z":"a5056396.20f6b","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":440,"wires":[["bae88897.3c7628"]]},{"id":"bae88897.3c7628","type":"mongodb in","z":"a5056396.20f6b","mongodb":"cd21f5f9.a22d48","name":"","collection":"routines","operation":"find","x":910,"y":440,"wires":[["7524ba64.76b9b4"]]},{"id":"d264f316.f9fba","type":"mongodb in","z":"a5056396.20f6b","mongodb":"cd21f5f9.a22d48","name":"","collection":"routines","operation":"find","x":910,"y":360,"wires":[["40410080.8634a"]]},{"id":"7b327228.01492c","type":"function","z":"a5056396.20f6b","name":"","func":"msg.routine = msg.payload;\nmsg.payload =  msg.payload._id ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":360,"wires":[["4a10ceff.a0cbc"]]},{"id":"490775c.88b538c","type":"mongodb out","z":"a5056396.20f6b","mongodb":"cd21f5f9.a22d48","name":"","collection":"routines","payonly":true,"upsert":false,"multi":true,"operation":"store","x":1410,"y":360,"wires":[]},{"id":"40410080.8634a","type":"function","z":"a5056396.20f6b","name":"","func":"var id = msg.payload[0]._id;\nmsg.payload = msg.routine;\nmsg.payload._id = id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":360,"wires":[["490775c.88b538c"]]},{"id":"7524ba64.76b9b4","type":"function","z":"a5056396.20f6b","name":"","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":440,"wires":[["e577d1f4.bc54e"]]},{"id":"4a10ceff.a0cbc","type":"objectid","z":"a5056396.20f6b","name":"","property":"payload","propertyType":"msg","x":620,"y":360,"wires":[["d264f316.f9fba","e3ea6765.18c878"]]},{"id":"5537f6d4.b20388","type":"function","z":"a5056396.20f6b","name":"","func":"var payload = msg.payload;\n\ndelete payload._id;\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":220,"wires":[["243dbd84.2bf6d2","28d5f4d5.1ef0ec"]]},{"id":"e577d1f4.bc54e","type":"http response","z":"a5056396.20f6b","name":"","statusCode":"","headers":{},"x":1330,"y":440,"wires":[]},{"id":"c7ed30ef.92b27","type":"http in","z":"a5056396.20f6b","name":"","url":"routines","method":"delete","upload":false,"swaggerDoc":"","x":160,"y":600,"wires":[["a9c31eb4.4b9da"]]},{"id":"37d4e62b.6457aa","type":"mongodb out","z":"a5056396.20f6b","mongodb":"cd21f5f9.a22d48","name":"","collection":"routines","payonly":true,"upsert":false,"multi":true,"operation":"delete","x":650,"y":600,"wires":[]},{"id":"a9c31eb4.4b9da","type":"function","z":"a5056396.20f6b","name":"","func":"msg.payload = {\"_id\":\"\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":600,"wires":[["37d4e62b.6457aa"]]},{"id":"a479dc75.385db","type":"ui_form","z":"d9caa4fb.a37788","name":"","label":"","group":"14169349.65a50d","order":1,"width":0,"height":0,"options":[{"label":"Name","value":"Name","type":"text","required":true,"rows":null},{"label":"Topic","value":"Topic","type":"text","required":true,"rows":null}],"formValue":{"Name":"","Topic":""},"payload":"","submit":"Adicionar","cancel":"cancel","topic":"","x":70,"y":200,"wires":[["6c6168c4.4af878","d064935d.2505e"]]},{"id":"6c6168c4.4af878","type":"mongodb out","z":"d9caa4fb.a37788","mongodb":"cd21f5f9.a22d48","name":"","collection":"actuators","payonly":true,"upsert":false,"multi":false,"operation":"store","x":790,"y":200,"wires":[]},{"id":"8920d282.e6e37","type":"mongodb in","z":"d9caa4fb.a37788","mongodb":"cd21f5f9.a22d48","name":"","collection":"actuators","operation":"find","x":690,"y":400,"wires":[["eeb7ddc6.13303","fcd8fda4.0b191"]]},{"id":"a8f6cc9b.c511e","type":"mongodb out","z":"d9caa4fb.a37788","mongodb":"cd21f5f9.a22d48","name":"","collection":"actuators","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":1270,"y":580,"wires":[]},{"id":"bddfa738.557418","type":"ui_form","z":"d9caa4fb.a37788","name":"","label":"","group":"2dea57e6.83d008","order":1,"width":0,"height":0,"options":[{"label":"_id","value":"_id","type":"text","required":true,"rows":null}],"formValue":{"_id":""},"payload":"","submit":"Excluir","cancel":"cancel","topic":"","x":70,"y":580,"wires":[["21abfe69.e392e2","d064935d.2505e"]]},{"id":"21abfe69.e392e2","type":"function","z":"d9caa4fb.a37788","name":"","func":"msg.payload = msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":580,"wires":[["ed7fc6e2.2a2338"]]},{"id":"ed7fc6e2.2a2338","type":"objectid","z":"d9caa4fb.a37788","name":"","property":"payload","propertyType":"msg","x":520,"y":580,"wires":[["fbebde6e.83158"]]},{"id":"fbebde6e.83158","type":"mongodb in","z":"d9caa4fb.a37788","mongodb":"cd21f5f9.a22d48","name":"","collection":"actuators","operation":"find","x":810,"y":580,"wires":[["85f5c727.3db3e8"]]},{"id":"85f5c727.3db3e8","type":"function","z":"d9caa4fb.a37788","name":"","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":580,"wires":[["a8f6cc9b.c511e"]]},{"id":"d064935d.2505e","type":"delay","z":"d9caa4fb.a37788","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":400,"wires":[["33d2cae.5567236"]]},{"id":"33d2cae.5567236","type":"function","z":"d9caa4fb.a37788","name":"","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":400,"wires":[["8920d282.e6e37"]]},{"id":"e8a03bc.9921bc8","type":"inject","z":"d9caa4fb.a37788","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":450,"y":300,"wires":[["8920d282.e6e37"]]},{"id":"eeb7ddc6.13303","type":"debug","z":"d9caa4fb.a37788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":440,"wires":[]},{"id":"fcd3a239.df452","type":"function","z":"c06cfd79.859b8","name":"","func":"msg.sensor = msg.payload;\nmsg.count = 0;\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":440,"wires":[["26388669.93a8aa"]]},{"id":"26388669.93a8aa","type":"mongodb in","z":"c06cfd79.859b8","mongodb":"cd21f5f9.a22d48","name":"","collection":"routines","operation":"find","x":510,"y":440,"wires":[["27796600.8dc9fa"]]},{"id":"fe9b2e48.e2339","type":"array-loop","z":"c06cfd79.859b8","name":"","key":"index","keyType":"msg","reset":false,"resetValue":"value-null","array":"Array","arrayType":"msg","x":950,"y":440,"wires":[[],["7defe357.f7af3c"]]},{"id":"27796600.8dc9fa","type":"function","z":"c06cfd79.859b8","name":"","func":"msg.Array = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":440,"wires":[["fe9b2e48.e2339"]]},{"id":"b8d89ec2.bc9a7","type":"delay","z":"c06cfd79.859b8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1090,"y":540,"wires":[["fe9b2e48.e2339"]]},{"id":"69bccfec.d1398","type":"mqtt in","z":"c06cfd79.859b8","name":"","topic":"sensores","qos":"0","datatype":"json","broker":"f1fab7d0.c7caa8","x":80,"y":440,"wires":[["fcd3a239.df452"]]},{"id":"7a4ac356.e3aadc","type":"ui_chart","z":"5c37380c.c347e8","g":"7443b1c8.ef03f","name":"","group":"34556a89.0d9606","order":4,"width":"6","height":"4","label":"PH","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"14","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1350,"y":320,"wires":[[]]},{"id":"88304b38.046c88","type":"ui_chart","z":"5c37380c.c347e8","d":true,"g":"7443b1c8.ef03f","name":"","group":"20ecfd76.8ec6a2","order":4,"width":0,"height":0,"label":"Consumo","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1360,"y":440,"wires":[[]]},{"id":"76e55309.c85f8c","type":"ui_chart","z":"5c37380c.c347e8","d":true,"g":"7443b1c8.ef03f","name":"","group":"17091394.c0ec7c","order":4,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1370,"y":500,"wires":[[]]},{"id":"524fb359.e3586c","type":"function","z":"5c37380c.c347e8","g":"7443b1c8.ef03f","name":"","func":"msg.payload = msg.payload.consumo.valor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":440,"wires":[["88304b38.046c88"]]},{"id":"1643b666.bc452a","type":"function","z":"5c37380c.c347e8","g":"7443b1c8.ef03f","name":"","func":"msg.payload = msg.payload.temperatura.valor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":500,"wires":[["76e55309.c85f8c"]]},{"id":"63364e4f.119c9","type":"function","z":"5c37380c.c347e8","g":"7443b1c8.ef03f","name":"","func":"msg.payload = msg.payload.ph.valor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":320,"wires":[["7a4ac356.e3aadc"]]},{"id":"66974428.5e760c","type":"function","z":"5c37380c.c347e8","g":"29d82027.70fb7","name":"","func":"msg.payload = msg.payload.ph.valor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":600,"wires":[["ea3127df.362dc8"]]},{"id":"ea3127df.362dc8","type":"ui_chart","z":"5c37380c.c347e8","g":"29d82027.70fb7","name":"","group":"247d7348.581ecc","order":0,"width":"6","height":"4","label":"PH","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"14","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1350,"y":600,"wires":[[]]},{"id":"fe6c4ce5.96669","type":"function","z":"5c37380c.c347e8","g":"29d82027.70fb7","name":"","func":"msg.payload = msg.payload.consumo.valor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":720,"wires":[["3985645c.76857c"]]},{"id":"3985645c.76857c","type":"ui_chart","z":"5c37380c.c347e8","g":"29d82027.70fb7","name":"","group":"555798a4.36d208","order":0,"width":"6","height":"8","label":"Consumo","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1360,"y":720,"wires":[[]]},{"id":"be461af3.a05d48","type":"function","z":"5c37380c.c347e8","g":"29d82027.70fb7","name":"","func":"msg.payload = msg.payload.temperatura.valor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":780,"wires":[["9a3a61ef.00f54"]]},{"id":"9a3a61ef.00f54","type":"ui_chart","z":"5c37380c.c347e8","g":"29d82027.70fb7","name":"","group":"35dea526.67340a","order":0,"width":"6","height":"8","label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1370,"y":780,"wires":[[]]},{"id":"7defe357.f7af3c","type":"function","z":"c06cfd79.859b8","name":"Validar Condição","func":"var sensorType = msg.payload.sensor.type;\nvar condition = msg.payload.condition.symbol;\nmsg.sendMessage = 0;\nmsg.sendNotification = 0;\nif(msg.sensor.id == msg.payload.sensor.tankId)\n{\n    if(condition == '<' && msg.sensor[sensorType].valor < msg.payload.conditionValue){\n       msg.sendMessage = msg.payload.enabled ? 1 : 0; \n       msg.sendNotification = msg.payload.notify ? 1 : 0; \n    }\n    if(condition == '<=' && msg.sensor[sensorType].valor <= msg.payload.conditionValue){\n       msg.sendMessage = msg.payload.enabled ? 1 : 0; \n       msg.sendNotification = msg.payload.notify ? 1 : 0; \n    }\n    if(condition == '==' && msg.sensor[sensorType].valor == msg.payload.conditionValue){\n       msg.sendMessage = msg.payload.enabled ? 1 : 0; \n       msg.sendNotification = msg.payload.notify ? 1 : 0; \n    }\n    if(condition == '>=' && msg.sensor[sensorType].valor >= msg.payload.conditionValue){\n       msg.sendMessage = msg.payload.enabled ? 1 : 0; \n       msg.sendNotification = msg.payload.notify ? 1 : 0; \n    }\n    if(condition == '>' && msg.sensor[sensorType].valor > msg.payload.conditionValue){\n       msg.sendMessage = msg.payload.enabled ? 1 : 0; \n       msg.sendNotification = msg.payload.notify ? 1 : 0; \n    }\n}\n\nmsg.topic = msg.payload.actuator.topic;\nmsg.routine = msg.payload;\nmsg.payload = msg.payload.action;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":440,"wires":[["52745be9.846794","b8d89ec2.bc9a7","284f8723.8bd008"]]},{"id":"dbf08678.6efdd8","type":"mqtt out","z":"c06cfd79.859b8","name":"","topic":"","qos":"","retain":"","broker":"f1fab7d0.c7caa8","x":1670,"y":520,"wires":[]},{"id":"52745be9.846794","type":"switch","z":"c06cfd79.859b8","name":"Rotina Ativa","property":"sendMessage","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1430,"y":520,"wires":[["dbf08678.6efdd8"]]},{"id":"38cbd963.65b466","type":"http in","z":"d9caa4fb.a37788","name":"","url":"actuators","method":"get","upload":false,"swaggerDoc":"","x":100,"y":740,"wires":[["884017c6.770018"]]},{"id":"884017c6.770018","type":"mongodb in","z":"d9caa4fb.a37788","mongodb":"cd21f5f9.a22d48","name":"","collection":"actuators","operation":"find","x":570,"y":740,"wires":[["a69b042c.7a8ac8"]]},{"id":"a69b042c.7a8ac8","type":"http response","z":"d9caa4fb.a37788","name":"","statusCode":"","headers":{},"x":1270,"y":740,"wires":[]},{"id":"fcd8fda4.0b191","type":"ui_text","z":"d9caa4fb.a37788","group":"dc9bd0b.43d4f3","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1010,"y":360,"wires":[]},{"id":"e699c579.cd8a08","type":"function","z":"c06cfd79.859b8","name":"","func":"var admin =  context.global.get('firebaseAdmin');\nvar serviceAccount = {\n  \"type\": \"service_account\",\n  \"project_id\": \"awmonitor-90a3a\",\n  \"private_key_id\": \"1f4556cf607e1cab6b8fb5323da6c0046744f7d1\",\n  \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEuwIBADANBgkqhkiG9w0BAQEFAASCBKUwggShAgEAAoIBAQCzjw0fyYE1uLGX\\nRJGt08Q0AyNSyGL5iJAkD1fGtFEsnVnnhUJQmDxZLPkjebwCItBdy9Mia6pf5N7P\\nUmDgUN/mmNgVpP5nVZnC4f9gAhdffqBzn4MMYFDt1tBzsikVVugKer90djbYjLUj\\nC+pVzESn6SV0tgtGAoz2znWkfBIhpYCb8x3l/uIFmHLJYzlv1DkcvXAs1lNkQKAv\\n0q0OTFjwVK7g2AEVr71Br+OIS6AXEdAZBkXF21is3PjMDrcr02G0FgrZA4RJgO3b\\nTVHFeThcj4l7JElxo8bQ7OxflGoer0jyxlBLlxEPIuRKyPR0ju5eO14veFV8eN9S\\nVsxxMZ71AgMBAAECgf9AmRzS0sVcp/wI77vftAMvGYuCIy8R/VxEaacQ7zSrWFcZ\\nc/FODXbb0WvQPeHlr6CtUSbxIZep6C0NaUjXaqeJAaciIlNkQBrEgfBEgHwbXvL0\\nP4hmBQ1+6eMUiVDYD7jRpfEH23+sm79bwtQLcFgPqh3pK/t756I1jxFdaHi3B+yW\\noUFbR4dryl1uR+A4JhWbMo0iCwxOlzxmBQhQSvOdlUujozeljdRFRZjhsy8YRf7b\\nkdY2WLlq7Q0da/mPI7YzrsfyKx49CVE0151wuOoYRd28RRpl/YGpOS32BXTSsdjv\\nPR5XYDw40P3gybFETnmyB7gWo2mTNUDv8bV2sG8CgYEA3YqBQA2gEcRog67Og6X+\\nWg+wRhwXSmqOQ+v1baVHWle3S/VKEIeap/n4TJu5Lry8Sby9gDNWnZrWsejkaHIQ\\nN7sDgdWUnceZjstG6J7eGUbAhHCATvAUzK2dmIEGo2NNOhMJfACqx9FZ7jERlV9N\\nnzObQBLmJv/oxqLyIBJXHQ8CgYEAz3zdUK4GL1Cy5DRNz+qQ7VoYrbu0zaF50MJ1\\ne6J8nQJrmeTKp8YIFgus1rS11tKH3LgbetoACvGkPm9U3RfzVPEG6I0pydvPlxdd\\nWjCCOxyDzSYO4rCNS7cZ2Mbsyjjg47WGwgC5NPTQ+/P4fuVy8lKi21mP9KJO+W2F\\n5nE0S7sCgYBiXbwz35jiKq4pQfWqGIsOHActqg1hWlyepedMbuV2pJnbXScsnbk6\\nuk/YXBBmQyDrMKWHhcQAqJ6JUhoQkgzHYf8Vp+qb/+MbtwBeCyQcXwDeDUG7SvhB\\nRRlDfI6g/1dr4MYGTBmILVlb3GetRiql9HkLgxiz2k7V28XcHaiWWwKBgByCbrKA\\nRu9Hal065po0A9fpMkzk5tH+ZwuNPLFRQUgdpgVOT54/8qp8zjHuQLIU2YA1d+ko\\nfSsDyuqdR47dlJzORYG8q8pFvr9nAXe8BJj0sROGMDNryO5naVDE/JJIwHXpYmvT\\nx58EKJcGDdX51xJ+0kvLgaE+kBVrvCNO2L2zAoGBAMd1vVR3242Jag58mpOxZG5Y\\nhFDZVPuyT7fBTPiExJleO253+dMEr1dkRZ6Vq6ALTVkEBzZOWRFFoCR+lafGjX6B\\n4Bl2qfSqoOKSzFnY3hd3MbqbguEEW5xe2SC2pRLg+AO4SrkG/7jKbpts/miNd4x2\\nNquefurz+0wyxJiwoocy\\n-----END PRIVATE KEY-----\\n\",\n  \"client_email\": \"firebase-adminsdk-s04kd@awmonitor-90a3a.iam.gserviceaccount.com\",\n  \"client_id\": \"110615075924034477360\",\n  \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",\n  \"token_uri\": \"https://oauth2.googleapis.com/token\",\n  \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",\n  \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-s04kd%40awmonitor-90a3a.iam.gserviceaccount.com\"\n}\n\n\nif (!admin.apps.length) {   \n    var firebaseApp = admin.initializeApp({\n      credential: admin.credential.cert(serviceAccount)\n    });\n}\n \n    var message = {\n        topic: 'actuators', \n\n       notification: {\n            title: 'AWMonitor - Rotinas',\n            body: msg.routine.displayName\n        }\n    };\n    \nadmin.messaging().send(message);\n    \n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1660,"y":380,"wires":[[]]},{"id":"4d2c54af.8d967c","type":"http in","z":"5c37380c.c347e8","name":"","url":"status","method":"get","upload":false,"swaggerDoc":"","x":370,"y":1100,"wires":[["cd5cade8.a5dbf"]]},{"id":"744979c0.8531c8","type":"http response","z":"5c37380c.c347e8","name":"","statusCode":"","headers":{},"x":1330,"y":1100,"wires":[]},{"id":"cd5cade8.a5dbf","type":"function","z":"5c37380c.c347e8","name":"","func":"msg.payload = 'active';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":1100,"wires":[["744979c0.8531c8"]]},{"id":"284f8723.8bd008","type":"switch","z":"c06cfd79.859b8","name":"Enviar Notificação","property":"sendNotification","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1450,"y":380,"wires":[["e699c579.cd8a08"]]},{"id":"51a3a96a.103e98","type":"http in","z":"1713468.9fa51ba","name":"","url":"users/forget-password/code","method":"post","upload":false,"swaggerDoc":"","x":180,"y":751,"wires":[["fb727305.4150e","44af2fc1.c26b"]]},{"id":"fb727305.4150e","type":"debug","z":"1713468.9fa51ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":831,"wires":[]},{"id":"b1bf8c88.0e744","type":"mongodb out","z":"1713468.9fa51ba","mongodb":"cd21f5f9.a22d48","name":"","collection":"users","payonly":true,"upsert":false,"multi":true,"operation":"store","x":1380,"y":751,"wires":[]},{"id":"c6cf9efc.f4d31","type":"http response","z":"1713468.9fa51ba","name":"","statusCode":"404","headers":{},"x":1110,"y":811,"wires":[]},{"id":"62e36e2b.c3ac4","type":"mongodb in","z":"1713468.9fa51ba","mongodb":"cd21f5f9.a22d48","name":"","collection":"users","operation":"find","x":680,"y":751,"wires":[["706f4aac.d5c194"]]},{"id":"44af2fc1.c26b","type":"function","z":"1713468.9fa51ba","name":"","func":"msg.code = Math.floor(Math.random() * 10000);\nmsg.payload = { \"phone\": msg.payload.phone };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":751,"wires":[["62e36e2b.c3ac4"]]},{"id":"706f4aac.d5c194","type":"switch","z":"1713468.9fa51ba","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":751,"wires":[["66e50b30.cd0e54"],["c6cf9efc.f4d31"]]},{"id":"8e93c775.18dcf8","type":"http response","z":"1713468.9fa51ba","name":"","statusCode":"200","headers":{},"x":1480,"y":651,"wires":[]},{"id":"66e50b30.cd0e54","type":"function","z":"1713468.9fa51ba","name":"","func":"msg.payload = msg.payload[0];\nmsg.payload.changePasswordCode = msg.code;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":711,"wires":[["b1bf8c88.0e744","4e15814d.785cd"]]},{"id":"4e15814d.785cd","type":"function","z":"1713468.9fa51ba","name":"","func":"msg.payload = msg.code;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":651,"wires":[["8e93c775.18dcf8"]]},{"id":"9f822b6f.45e8c8","type":"http in","z":"1713468.9fa51ba","name":"","url":"users/change-password","method":"post","upload":false,"swaggerDoc":"","x":170,"y":961,"wires":[["ed80f878.40f468","e3f8b93f.40a7e8"]]},{"id":"ed80f878.40f468","type":"debug","z":"1713468.9fa51ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":1041,"wires":[]},{"id":"9fc2f1db.e074f","type":"mongodb out","z":"1713468.9fa51ba","mongodb":"cd21f5f9.a22d48","name":"","collection":"users","payonly":true,"upsert":false,"multi":true,"operation":"store","x":1380,"y":961,"wires":[]},{"id":"3525a68f.9a06aa","type":"http response","z":"1713468.9fa51ba","name":"","statusCode":"404","headers":{},"x":1110,"y":1021,"wires":[]},{"id":"494f71c8.07986","type":"mongodb in","z":"1713468.9fa51ba","mongodb":"cd21f5f9.a22d48","name":"","collection":"users","operation":"find","x":680,"y":961,"wires":[["42d6cfd1.7fcdc"]]},{"id":"e3f8b93f.40a7e8","type":"function","z":"1713468.9fa51ba","name":"","func":"msg.newPassword = msg.payload.password;\n\nmsg.payload = { \n    \"phone\": msg.payload.phone, \n    \"changePasswordCode\":  msg.payload.changePasswordCode\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":961,"wires":[["494f71c8.07986"]]},{"id":"42d6cfd1.7fcdc","type":"switch","z":"1713468.9fa51ba","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":961,"wires":[["b3076539.ea2da8"],["3525a68f.9a06aa"]]},{"id":"6d1f2798.f4e4b8","type":"http response","z":"1713468.9fa51ba","name":"","statusCode":"200","headers":{},"x":1320,"y":861,"wires":[]},{"id":"b3076539.ea2da8","type":"function","z":"1713468.9fa51ba","name":"","func":"msg.payload = msg.payload[0];\nmsg.payload.password = msg.newPassword;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":921,"wires":[["9fc2f1db.e074f","6d1f2798.f4e4b8"]]},{"id":"2444ad6b.7f41f2","type":"function","z":"5c37380c.c347e8","name":"","func":"if(msg.payload.ph)\n    msg.payload.ph.valor = msg.payload.ph.valor.toFixed(2);\nif(msg.payload.temperatura)\n    msg.payload.temperatura.valor = msg.payload.temperatura.valor.toFixed(2);\nif(msg.payload.nivel)\n    msg.payload.nivel.valor = msg.payload.nivel.valor.toFixed(2);\nif(msg.payload.consumo)\n    msg.payload.consumo.valor = (msg.payload.consumo.valor / 1000).toFixed(2);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":580,"wires":[["df1696d0.c03cd8","5dc71f35.1cc1d"]]},{"id":"63d6a0ca.a8b9f","type":"debug","z":"a5056396.20f6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":420,"wires":[]}]